<div class="message-body" id="message-<%= message.id %>">
  <div class="message-top">
    <div class="message-user">
      <p><%= message.user.nickname %></p>
    </div>
    <div class="message-create-at">
      <p><%= l message.created_at, format: :short %></p>
    </div>
  </div>
  <div class="message-bottom">
    <p><%= message.content %></ps>
  </div>
</div>