.report-wrapper {
  display: flex;
  justify-content: center;
}

.report-main {
  width: 50vw;
  min-width:60vh;
  min-height:100vh;
  padding-bottom: 15vh;
}

.main-room-title {
  margin-top:15vh;
}

.main-main {
  margin-top: 15vh;
}

.reports-mine {
  padding:3vh;
  background-color:  #bbe4f3;
  margin-top:4vh;
  margin-left:3vw;
  border-radius: 2vh;
}

.reports-others {
  padding:3vh;
  background-color: #eeeeee;
  margin-top:4vh;
  margin-right: 3vw;
  border-radius: 2vh;
}

.report-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2vh;
}

.report-user {
  font-size: 4vh;
  font-weight: bold;
  color: #6d5507;
}

.report-date {
  font-size: 1.5vh;
}



.report-content {
  padding-top:1vh;
}

.report-content h2 {
  font-size: 2vh;
  font-weight: bold;
  color: #6d5507;
}

.report-input {
  font-size: 2vh;
  background-color: white;
  padding:0.5vh;
  border-radius: 0.5vh;
  word-wrap: break-word;
}

.report-destroy {
  color: #777777;
  font-size: 1vh;
}

.report-new {
  position: fixed;
  bottom: 40px;
  left: 10px;
}

.report-new-button {
  padding: 10px;
  border-radius: 5px;
  background-color: #00b0f0;
  color: white;
}

@media screen and (max-width: 1000px) {
  .report-new-button {
    font-size: 45px;
  }
}