.room-create-contents {
  height: 100vh;
  background-color: rgba(48, 146, 236, 0.3);
  }

.message {
  padding: 15vh;
  display: flex;
  justify-content: center;
}

.success h2 {
  color: rgba(256, 256, 256, 0.8);
  font-size: 4vh;
}