a {
  text-decoration: none;
}


/* 学習報告ルーム一覧 */

.room-wrapper {
  width: 70vw;
  margin: 0 auto;
  padding-top: 70px;
}

.room-header {
  display: flex;
  justify-content: space-between;
}

.room-header>.room-title {
  font-family: 'Roboto';
  font-size: 16px;
}

.room-header>.room-header-right {
  margin-top: 15px;
}

.room-header>.room-header-right>.room-new {
  padding: 10px;
  color: white;
  font-weight: bold;
  background-color: #00b0f0;
  border-radius: 5px;
  text-align: center;
}

.room-header>.room-header-right>.room-new:hover {
  padding: 10px;
  color: white;
  font-weight: bold;
  background-color: #81d7f7;
  border-radius: 5px;
  text-align: center;
}

.room-lists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.room-lists>.got-list {
  width: 200px;
  margin: 15px;
  border-radius: 5px;
  border: solid 1px #eeeeee;
  box-shadow: 0px 0px 5px #eeeeee;
  display: flex;
  flex-direction: column;
}

.room-img-content {
  padding: 10px;
}

.room-img {
  width: 180px;
  height: 180px;
  margin-left: 10px;
  border-radius: 50%;
  margin: 0 auto;
}

.room-name {
  text-align: center;
  font-size: 2.5vh;
  font-family: 'Roboto';
  text-decoration: underline;
  overflow-wrap: break-word;
  max-width: 180px;
}

.room-name:hover {
  text-align: center;
  font-size: 2.5vh;
  text-decoration: underline;
  overflow-wrap: break-word;
  font-weight: bold;
  transition: 0.5s;
}

.report-link {
  text-align: center;
  font-family: 'Roboto';
  font-weight: bold;
  color: black;
  padding-bottom: 10px;
}

.room-info {
  color: black;
  padding: 1vw;
}


.non-room-info {
  color: rgba(256, 256, 256, 0.8);
  padding: 1vw;
}

.new-message {
  text-align: center;
  position: relative;
}

@media screen and (max-width: 1000px) {
  .room-wrapper {
    padding-top: 120px;
  }

  .room-header>.room-title {
    font-family: 'Roboto';
    font-size: 30px;
  }

  .room-new {
    font-size: 30px;
  }

  .report-link {
    font-size: 25px;
  }
}

/* //学習報告ルーム一覧 */