/* ルームの概要 */

.room-show {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-box {
  padding: 15vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  color: black;
  margin-bottom: 5vh;
  position: relative;
}

.room-box>.name::after {
  content: '';
  width: 30px;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}


.room-box-img {
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
}

.room-img-content {
  padding-bottom:5vh
}

.to-report {
  padding-bottom: 40px;
}

.room-link {
  font-family: 'Roboto';
  color: black;
  font-weight: bold;
  font-size: 16px;
  margin: 0 16px;
}

.room-link:hover {
  font-family: 'Roboto';
  color: #777777;
  font-weight: bold;
  font-size: 16px;
  margin: 0 4vw;
  transition: all 0.5s;
}

.room-link-des {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 16px;
  margin: 0 16px;
  padding: 10px;
  border-radius: 5px;
  background-color: #777777;
  color: white;
}


.room-explain-box {
  font-size: 18px;
  margin: 40px 0px;
}

.detail-table {
  padding: 10vh, 0;
  width: 80vw;
}

.detail-room {
  width: 20%;
  background-color: #BBBBBB;
  border: 1px solid #AAAAAA;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #AAAAAA;
  background-color: rgba(256, 256, 256, 0.8);
  font-size: 14px;
}

.user-name {
  color: black;
}

.room-edit-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 0;
}

.room-link-edit {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 16px;
  margin: 0 16px;
  padding: 10px;
  border-radius: 5px;
  background-color: #00b0f0;
  color: white;
}

.or-text {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

