.confirm-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.confirm-btns {
  display: flex;
  flex-direction: column;
}

.confirm-btns>.confirm-btn {
  padding-bottom: 15px;
  margin: 0 auto;
}

.confirm-create {
  padding: 10px 40px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  background-color: #00b0f0;
  color: white;
  border: none;
}

.confirm-create:hover {
  padding: 10px 40px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  background-color: #81d7f7;
  color: white;
  border: none;
}

.confirm-back {
  padding: 10px 40px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  border: solid 1px #00b0f0;
  background-color: white;
  color: #00b0f0;
}

.confirm-back:hover {
  padding: 10px 40px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  border: solid 1px #81d7f7;
  background-color: white;
  color: #81d7f7;
}

@media screen and (max-width: 1000px) {
  .confirm-title {
    font-size: 50px;
  }

  .confirm-create {
    font-size: 45px;
  }
  
  .confirm-create:hover {
    font-size: 45px;
  }
  
  .confirm-back {
    font-size: 45px;
  }
  
  .confirm-back:hover {
    font-size: 45px;
  }
  
}
