.article-wrapper {
  padding-top: 70px;
  display: flex;
}

.article-search-bar {
  width: 300px;
  padding: 0 20px;
}

#search-box {
  display: none;
}

#hidden {
  overflow-x: hidden;
  height: 0%;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  transition: .5s;
}

.article-search-body {
  display: flex;
  flex-direction: column;
}

.article-search-box {
  display: flex;
  flex-direction: column;
}

.article-search-title {
  font-family: 'Roboto';
  font-size: 16px;
}

.article-search-field {
  display: flex;
  flex-direction: column;
}

.article-search-input {
  border: solid 1px #777777;
  border-radius: 2px;
  padding: 2px;
}

.article-body {
  width: calc( 100vw - 300px );
  padding: 70px 60px;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.03);
}

.article-header {
  display: flex;
  justify-content: space-between;
}

.article-header>.article-title {
  font-family: 'Roboto';
  font-size: 16px;
}

.article-header>.article-header-right {
  margin-top: 15px;
}

.article-header>.article-header-right>.article-new {
  padding: 10px;
  color: white;
  font-weight: bold;
  background-color: #00b0f0;
  border-radius: 5px;
  text-align: center;
}

.article-header>.article-header-right>.article-new:hover {
  padding: 10px;
  color: white;
  font-weight: bold;
  background-color: #81d7f7;
  border-radius: 5px;
  text-align: center;
}

.article-lists {
  display: flex;
  flex-direction: column;
  border-top: solid 2px #cccccc;
  margin: 0 auto;
  width: 90%;
}

.article-list {
  padding: 10px;
  border-bottom: solid 1.5px #cccccc;
  background-color: white;
}

.list-upper {
  display: flex;
  justify-content: space-between;
}

.article-summary {
  margin: 0;
  padding: 0;
  font-size: 24px;
  color: black;
}

.article-genre {
  color: black;
}

.list-bottom {
  display: flex;
  justify-content: space-between;
}

.list-like {
  color: black;
}

.list-like>p {
  padding: 4px;
  border-radius: 4px;
  margin: 0;
  border: solid 1px #00b0f0;
}

.list-tag {
  margin-left: 5px;
  max-width: 300px;
}

.list-tag-name {
  padding: 4px;
  border-radius: 4px;
  color: black;
  border: solid 1px #cccccc;
  background-color: #eeeeee;
  overflow-wrap: break-word;
}

.bottom-left {
  display: flex;
  flex-direction: column;
}

.bottom-left-bottom {
  display: flex;

}

.bottom-right {
  display: flex;
  align-items: baseline;
}

.list-user {
  max-width: 250px;
}

.list-user-nickname {
  padding: 5px 0;
  color: black;
  overflow-wrap: break-word;
}

.list-article-date {
  font-size: 12px;
  color: black;
}

@media screen and (max-width: 1000px) {
  .article-wrapper {
    padding-top: 70px;
  }

  .article-search-bar {
    display: none;
  }

  .article-search-body {
    padding-top: 120px;
  }

  .article-search-title {
    font-size: 45px;
  }

  #search-box {
    display: block;
    position: fixed;
    bottom: 30px;
    left: 10px;
    padding: 10px;
    border-radius: 50%;
    background-color: #00b0f0;
  }

  .fa-search {
    font-size: 60px;
    color: white;
  }
  
  #hidden.search-menu {
    height: 1000px;
  }

  
  .article-body {
    width: 100%;
    min-height: calc(100vh - 70px);
  }

  .search-article {
    font-size: 30px;
  }

  .article-search-input {
    font-size: 40px;
    height: 80px;
  }

  .article-header>.article-title {
    font-size: 60px;
  }
  
  .article-header-right {
    display: flex;
    align-items: center;
  }

  .article-new {
    font-size: 30px;
  }

  .article-summary {
    font-size: 50px;
  }

  .article-genre {
    font-size: 25px;
  }

  .list-like>p {
    font-size: 30px;
  }

  .list-tag-name {
    font-size: 30px;
  }
  
  .list-user-nickname {
    font-size: 25px;
  }
  
  .list-article-date {
    font-size: 12px;
    color: black;
  }
}