.article-form-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  min-width: 1000px;
}
.article-detail {
  display: flex;
}

.article-detail-field {
  width: 50%;
}

.review-article {
  width: 50%;
  border: solid 1px black;
  min-height: 500px;
}