
.article-detail {
  display: flex;
}

.search-result-list {
  display: flex;
}

.search-result-list>p {
  padding: 5px;
}

#search-result {
  display: flex;
  padding: 5px;
}

.child {
  margin-left: 5px;
  padding: 5px;
  border-radius: 4px;
  border: solid 1px #cccccc;
  background-color: #eeeeee;
}

.input-article-detail {
  width: 50%;
  margin-top: 5px;
  height: 800px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  margin-bottom: 50px;
  resize: none;
}

.review-article {
  width: 50%;
  margin-top: 5px;
  height: 800px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  margin-bottom: 50px;
}

.review-article h1 {
  
}

@media screen and (max-width: 1000px) {
  .article-detail {
    display: flex;
    flex-direction: column;
  }
  
  .input-article-detail {
    width: 100%;
    margin-top: 5px;
    min-height: 800px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
    margin-bottom: 50px;
    resize: none;
  }
  
  .review-article {
    width: 100%;
    margin-top: 5px;
    height: 800px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
    margin-bottom: 50px;
  }
  
}