.article-show-wrapper {
  padding: 80px 50px 30px 50px;
  background-color: rgba(0, 0, 0, 0.03);
  min-height: 100vh;
}

.article-wrapper-body {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  padding: 30px;
}

.article-show-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.article-header-upper {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.article-upper-upper {
  margin-bottom: 10px;
}

.article-title-summary {
  font-size: 30px;
  padding: 0;
  margin: 0;
}

.article-upper-bottom {
  display: flex;
  justify-content: space-between;
}

.article-date>p {
  font-size: 15px;
  color: #333333;
  font-weight: bold;
}

.article-user {
  display: flex;
  font-size: 15px;
  color: #333333;
  font-weight: bold;
}

.article-user>a {
  font-size: 15px;
  color: #333333;
}

.article-genre {
  font-size: 15px;
  color: #333333;
  margin: 0 0 15px;
  font-weight: bold;
}

.article-tags {
  display: flex;
}

.article-tag {
  padding: 8px;
  border-radius: 4px;
  border: solid 1px #cccccc;
  background-color: #eeeeee;
}

.like-btn {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.like-btn-blue {
  padding: 15px;
  background-color: #00b0f0;
  border: solid 2px #00b0f0;
  color: white;
  font-weight: bold;
}

.like-btn-blue>a {
  color: white;
  font-weight: bold;
}

.like-btn-white {
  padding: 15px;
  border: solid 2px #00b0f0;
  color: #00b0f0;
  font-weight: bold;
}


.like-btn-grey {
  padding: 15px;
  border: solid 2px #444444;
  color: #444444;
  font-weight: bold;
}


.edit-link {
  color: #333333;
  background-color: #cccccc;
  padding: 15px;
  border-radius: 5px;
}

.article-main {
  margin-top: 50px;
  width: 100%;
  padding: 15px 5px;
}