.footer {
  width: 100vw;
  padding: 5px 0;
  color: black;
  position: fixed;
  bottom:0;
  z-index: 10;
  background: white;
  text-align: center;
}

.footer>p {
  font-size: 14px;
  color: black;
  font-family: 'Roboto';
}