* {
  box-sizing: border-box;
}


.home-header {
  position: fixed;
  top:0;
  z-index: 10;
  font-family: 'Roboto';
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2px 0;
  align-items: center;
  background-color: white;
  border-bottom: solid 1px #00b0f0;
}

.header-logo {
  font-size: 24px;
  color: black;
}

.right-lists {
  display: flex;
  padding: 2px 20px;
  align-items: center;
}

.right-lists>li>a {
  padding: 0 5px;
  font-family: 'Roboto';
  color: black;
  font-size: 20px;
  height: 100%;
}

.right-lists-lp {
  display: flex;
  padding: 2px 20px;
  align-items: center;
}

.right-lists-lp>li>a {
  padding: 0 5px;
  font-family: 'Roboto';
  color: black;
  font-size: 20px;
}

.current-nav-button {
  border-bottom: solid 2px black;
}

.nav-button:hover {
  border-bottom: solid 2px black;
}


nav {
  background-color: white;
  position: absolute;
  z-index: 10;
  top: 3.5rem;
  overflow-x: hidden;
  text-align: center;
  transition: .5s;
  border-bottom: solid 1px #00b0f0;
  width: 0%;
}

@media screen and (max-width: 1000px) {
  .header-logo {
    font-size: 35px;
  }
  .right-lists {
    display: none;
  }

  .right-lists-lp {
    display: flex;
    padding: 2px 20px;
    align-items: center;
  }
  
  .right-lists-lp>li>a {
    padding: 0 5px;
    font-family: 'Roboto';
    color: black;
    font-size: 35px;
  }
  

  #box {
    position: relative;
    display: block;
    width: 30px;
    height: 25px;
    margin: 0 20px 0 auto;
    cursor: pointer;
  }
  #box span {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: translateY(-50%);
  }

  #box::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
  }

  
  #box::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 2px;
    background-color: black;
  }

  nav.open-menu {
    width: 100%;
  }

  .sp-right-lists>li {
    padding-bottom: 15px;
  }

  .sp-right-lists>li>a {
    position: relative;
    font-family: 'Roboto';
    color: black;
    font-size: 20px;
  }

}