* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  position: fixed;
  top:0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.8);
}
.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;
}

.lists-left a {
  color: rgba(256, 256, 256, 0.8);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}


.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.subjects {
  text-decoration: none;
  margin-right: 3vw;
  color: rgba(256, 256, 256, 0.8);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  font-weight: bold;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: rgba(256, 256, 256, 0.8);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: rgba(256, 256, 256, 0.8);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}


.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: rgba(256, 256, 256, 0.8);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.sign-up {
  text-decoration: none;
  color: rgba(256, 256, 256, 0.8);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.home-header {
  position: fixed;
  top:0;
  z-index: 10;
  font-family: 'Roboto';
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2px 0;
  align-items: center;
  background-color: white;
  border-bottom: solid 1px #00b0f0;
}

.header-logo {
  font-size: 24px;
  color: black;
}

.right-lists {
  display: flex;
  padding: 2px 20px;
  align-items: center;
}

.right-lists>li>a {
  padding: 0 5px;
  font-family: 'Roboto';
  color: black;
  font-size: 20px;
}

.right-lists-lp {
  display: flex;
  padding: 2px 20px;
  align-items: center;
}

.right-lists-lp>li>a {
  padding: 0 5px;
  font-family: 'Roboto';
  color: black;
  font-size: 20px;
}

.nav-button:hover {
  color: #666666;
}

nav {
  background-color: white;
  position: absolute;
  z-index: 10;
  top: 3.125rem;
  overflow-x: hidden;
  text-align: center;
  transition: .5s;
  border-bottom: solid 1px #00b0f0;
  width: 0%;
}

@media screen and (max-width: 1000px) {
  .right-lists {
    display: none;
  }

  .right-lists-lp {
    display: flex;
    padding: 2px 20px;
    align-items: center;
  }
  
  .right-lists-lp>li>a {
    padding: 0 5px;
    font-family: 'Roboto';
    color: black;
    font-size: 18px;
  }
  

  #box {
    position: relative;
    display: block;
    width: 30px;
    height: 25px;
    margin: 0 20px 0 auto;
    cursor: pointer;
  }
  #box span {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: translateY(-50%);
  }

  #box::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
  }

  
  #box::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 2px;
    background-color: black;
  }

  nav.open-menu {
    width: 100%;
  }

  .sp-right-lists>li {
    padding-bottom: 15px;
  }

  .sp-right-lists>li>a {
    position: relative;
    font-family: 'Roboto';
    color: black;
    font-size: 20px;
  }

  .sp-right-lists>li>a::after {
    content: '';
    width: 30px;
    height: 1.5px;
    background-color: black;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
  }

  .sp-right-lists>li>a:hover::after {
    content: '';
    width: 30px;
    height: 1.5px;
    background-color: #666666;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
  }
}