* {
  box-sizing: border-box;
}

.memo-header {
  width: 100vw;
  padding: 2vh 15vw;
  position: fixed;
  top:0;
  z-index: 10;
  background-color: #0c5510;
}
.nav-memo {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.new-memo {
  text-decoration: none;
  color: rgba(256, 256, 256, 0.8);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}
