<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='report-header'>
  <div class='nav-report'>
    <ul class='lists-left'>
      <li><%= link_to @room.title, room_path(@room), class: "category-list" %></li>
    </ul>
    <ul class='lists-right'>
      <!--プルダウンで表示させる-->
      <li><%= link_to 'ユーザー一覧', "#", class: "user-lists" %></li>
      <li><%= link_to 'トップページ', root_path , class: "top-link" %></li>
      <li><%= link_to '学習報告を行う', new_room_report_path(@room) , class: "new-report" %></li>
    </ul>
  </div>
</header>