<%= render "shared/header" %>
<div class="room-create-contents">
  <div class="message">
    <div class="success">
      <h2 class="create-message">チャットルームを削除しました</h2>
    </div>
  </div>
  <ul class='feature-lists'>
    <li class='list'>
      <%= link_to "ユーザー一覧に戻る", users_path, class:"link-top" %>
    </li>
  </ul>
</div>

<%= render "shared/footer" %>