<%= render "shared/header" %>
<div class="subject-create-contents">
  <div class="message">
    <div class="success">
      <h2 class="create-message">チャットルームを削除しました</h2>
    </div>
  </div>
  <ul class='destroy'>
    <li class='destroy-list'>
      <%= link_to "ユーザー一覧に戻る", users_path, class:"regi_session" %>
    </li>
  </ul>
</div>

<%= render "shared/footer" %>