<%= render "shared/header_subjects" %>
<div class="subject-create-contents">
  <div class="message">
    <div class="success">
      <h2 class="create-message">新規ルーム作成が完了しました!</h2>
    </div>
  </div>
  <ul class='feature-lists'>
    <li class='list'>
      <%= link_to "作成したルームへ", "#", class: :regi_session %>
    </li>
    <li class='list'>
      <%= link_to "メモ一覧ページに戻る", subjects_path, class: :regi_session %>
    </li>
  </ul>
</div>

<%= render "shared/footer" %>