<%= render "shared/memo_header" %>
<div class="room-create-contents">
  <div class="message">
    <div class="success">
      <h2 class="create-message">新規ルーム作成が完了しました!</h2>
    </div>
  </div>
  <div class='feature-lists'>
    <div class='list'>
      <%= link_to "作成したルームへ", subject_memos_path(@subject), class: 'link-room' %>
    </div>
    <div class='list'>
      <%= link_to "一覧ページに戻る", subjects_path, class: 'link-top' %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>