<%= render "shared/header" %>
<div class="subject-create-contents">
  <div class="message">
    <div class="success">
      <h2 class="create-message">学習報告を削除しました</h2>
    </div>
  </div>
  <ul class='destroy'>
    <li class='destroy-list'>
      <%= link_to "科目ルーム一覧に戻る", subjects_path, class:"regi_session" %>
    </li>
  </ul>
</div>

<%= render "shared/footer" %>