.memo-wrapper {
  display: flex;
}
.memo-side {
  width: 200px;
  min-height: 100vh;
}

.memo-side-main {
  padding-top: 50px;
}

.memo-list-title {
  font-weight: bold;
  text-align: left;
  padding-left: 10px;
}

.memo-side-name {
  padding:1vh;
  background-color: #bbe4f3;
  color: #666666;
}

.memo-side-name:hover {
  padding:1vh;
  background-color: #7ed6f7;;
  color: #666666;
}

.memo-main {
  background-color: #dbeef8;
  width: calc( 100vw - 200px) ;
}

.memo-main-wrapper {
  margin: 50px;
  display: flex;
  flex-direction: column;
}

.memo-main-header {
  display: flex;
  justify-content: space-between;
}

.memo-main-header>.memo-main-header-left {
  display: flex;
  justify-content: left;
}

.memo-main-header-title {
  font-size: 30px;
  font-weight: bold;
  position: relative;
  color: #333333;
}

.memo-main-header-title::after {
  content: '';
  width: 70px;
  height: 2px;
  background-color: #333333;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.memo-main-header>.memo-main-header-right {
  margin-top: 35px;
}

.memo-main-header>.memo-main-header-right>.memo-new {
  padding: 10px;
  color: white;
  font-weight: bold;
  background-color: #00b0f0;
  border-radius: 5px;
  text-align: center;
}

.memo-main-header>.memo-main-header-right>.memo-new:hover {
  padding: 10px;
  color: white;
  font-weight: bold;
  background-color: #81d7f7;
  border-radius: 5px;
  text-align: center;
}

.memo-subject-name {
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 20px;
  border: solid 1px white ;
  font-size: 25px;
  color: #333333;
  background-color: rgba(256, 256, 256, 0.7);
}


.search-input {
  border-radius: 2px;
  width: 70%;
  min-width:300px;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
}

.search-btn {
  background-color: #00b0f0;
  padding: 5px;
  border: none;
  border-radius: 2px;
  color: #EEEEEE;
  margin: 5px;
}

.search-btn:hover {
  background-color: #81d7f7;
  padding: 5px;
  border: none;
  border-radius: 2px;
  color: #EEEEEE;
  margin: 5px;
}

.memo-lists {
  display: flex;
  flex-direction: column;
}

.memo-list {
  padding:5px;
}

.memo-topic {
  border-radius: 10px;
  background-color: white;
  border: solid 1px #eeeeee;
  padding: 20px;
  color:#333333;
  text-decoration: underline;
}

.subject-destroy {
  position:fixed;
  bottom:20px;
  right:10px;
}

.subject-destroy-link {
  padding: 15px;
  border-radius: 5px;
  background-color: #777777;
  color: #EEEEEE;
}

@media screen and (max-width: 1000px) {
  .memo-side {
    display: none;
  }

  .memo-main {
    width: 100%;
    min-height: 100vh;
  }
}