.memo-wrapper {
  display: flex;
}
.memo-side {
  width: 200px;
  background-color: #EEEEEE;
  min-height: 100vh;
}

.memo-side-main {
  padding-top: 15vh;
}

.memo-list-title {
  font-weight: bold;
  text-align: left;
  padding-left: 10px;
}

.memo-side-name {
  padding:1vh;
  background-color: #0c5510;
  color: #EEEEEE;
}

.memo-side-name:hover {
  padding:1vh;
  background-color: #326834;
  color: #EEEEEE;
}

.memo-main {
  width: calc( 100vw - 200px) ;
}

.memo-main-wrapper {
  margin: 5vh;
  display: flex;
  flex-direction: column;
}

.memo-main-header {
  padding-top: 15vh;
}

.memo-main-header-title {
  font-size: 10vh;
  font-weight: bold;
  padding-bottom: 1vh;
  border-bottom: solid 2px #0c5510;
}

.memo-search {
  margin: 0 auto;
}

.memo-search h1 {
  font-size: 6vh;
}

.memo-lists {
  display: flex;
  flex-direction: column;
}

.memo-list {
  padding:1vh;
}

.memo-topic {
  border-radius: 1vh;
  background-color: #EEEEEE;
  padding: 2vh;
  color:#333333;
  text-decoration: underline;
}

.subject-destroy {
  position:fixed;
  bottom:2vh;
  left:2vh;
}

.subject-destroy-link {
  padding: 2vh;
  border-radius: 0.5vh;
  background-color: #0c5510;
  color: #EEEEEE;
}

.search-input {
  border-radius: 2px;
  width:300px;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
}

.search-btn {
  background-color: #0c5510;
  padding: 5px;
  border: none;
  border-radius: 2px;
  color: #EEEEEE;
  margin: 5px;
}

.search-btn:hover {
  background-color: #326834;
  padding: 5px;
  border: none;
  border-radius: 2px;
  color: #EEEEEE;
  margin: 5px;
}