.memo-show-main {
  padding:70px 0;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto ;
}

.memo-text {
  padding:2vh;
}


.memo-show-title {
  padding:20px;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.memo-show-contents {
  padding:10px;
  background-color: #EEEEEE;
  border-radius: 5px;
  font-size: 15px;
  margin-bottom: 10px;
}

.memo-show-image {
  padding:10px;
  margin-bottom: 10px;
}


.memo-show-markdown {
  padding:10px;
  background-color: #EEEEEE;
  border-radius: 5px;
  margin-bottom: 10px;
}
.memo-show-markdown li{
  list-style: initial;
}
.memo-show-markdown code {
  background-color: ivory;
}

.memo-show-btn {
  display: flex;
  padding: 2vh 0vh;
}

.btn-edit-destroy {
  color:black;
  text-decoration: underline;
  padding: 2vh;
  background-color: #EEEEEE;
  border-radius: 0.5vh;
  margin-right: 2vh;
}