<%= render "shared/header" %>
<div class="room-create-contents">
  <div class="message">
    <div class="success">
      <h2 class="create-message">学習報告ルームを削除しました</h2>
    </div>
  </div>
  <div class='feature-lists'>
    <div class='list'>
      <%= link_to "一覧に戻る", rooms_path, class:"link-top" %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>