.chat-body {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 70px auto 30px;
}

.chat-header {
  padding-bottom:30px;
}

.chat-user {
  font-size:24px;
  color: black;
  font-weight: bold;
}

.chat-input-text {
  font-weight: bold;
}

.message-input {
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px 0;
  width: 70%;
}

.chat-send-btn {
  border-radius: 4px;
  background-color: #333333;
  border: none;
  color: #ccc;
  padding: 10px;
  margin-top: 20px;
}

.message-body {
  padding: 2px 0;
}

.message-top {
  display: flex;
  justify-content: space-between;
}

.message-user>p {
  font-weight: bold;
  font-size: 15px;
}

.message-create-at {
  font-weight: bold;
  font-size: 12px;
}

.message-bottom {
  border: solid 1px #bbe4f3;
  background-color: #e2f2f8;
  border-radius: 4px;
  padding:30px;
}

.message-bottom>p {
  overflow-wrap: break-word;
}

.chat-destroy {
  position: fixed;
  bottom: 40px;
  right: 20px;
}

.chat-destroy-link {
  color: white;
  padding: 10px;
  border-radius: 4px;
  background-color: #777777;
}

.chat-destroy-link:hover {
  color: white;
  padding: 10px;
  border-radius: 2px;
  background-color: #999999;
}

@media screen and (max-width: 1000px) {
  .chat-body {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 120px auto 30px;
  }

  .chat-user {
    font-size:50px;
  }
  
  .chat-input {
    display: flex;
    flex-direction: column;
  }

  .chat-input-text {
    font-size: 30px;
  }

  .message-input {
    font-size: 40px;
  }

  .message-input {
    border-radius: 2px;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px 0;
    width: 100%;
  }
  
  .chat-send-btn {
    font-size: 45px;
  }

  .chat-destroy-link {
    font-size: 45px;
  }

  .message-user>p {
    font-size: 25px;
  }

  .message-create-at>p {
    font-size: 25px;
  }

  .message-bottom>p {
    font-size: 35px;
  }
}