// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.title-wrapper {
  background-image: url(/images/landing_back.jpg);
  background-size: cover;
}

.white {
  background-color: rgba(256, 256, 256, 0.4);
}

.title {
  height:80vh;
  width: 70vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 25px;
}

.content-exp {
  text-align: center;
}

.top-title {
  font-family: 'Roboto';
  font-size: 40px;
  text-align: center;
  margin-bottom: 5px;
}


.top-exp {
  font-family: 'Roboto';
  text-align: center;
  font-size: 15px;
}

.top-lists {
  display: flex;
  justify-content: space-between;
}

.top-lists>.top-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.top-lists>.top-list>.list-pict {
  width: 120px;
  height: 120px;
}

.top-lists>.top-list>.top-list-text {
  font-size: 15px;
}

.why, .detail, .start {
  width: 70vw;
  padding-bottom: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content {
  width: 100vw;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content-header, .why-header, .detail-header, .start-header {
  font-family: 'Roboto';
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
}

.content-header>.content-title, .why-header>.why-title, .detail-header>.detail-title, .start-header>.start-title {
  position: relative;
  font-size: 30px;
  margin-bottom: 50px;
}

.content-header>.content-title::after, .why-header>.why-title::after, .detail-header>.detail-title::after, .start-header>.start-title::after {
  content: '';
  width: 70px;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.content-content {
  display: flex;
  justify-content: space-between;
  height: 400px;
}

.report-left, .report-right, .memo-left, .memo-right, .article-left, .article-right, .user-left, .user-right {
  width: 50%;
  display: flex;
  align-items: center;
}

.report-right {
  background-image: url(/images/report_human.jpg);
  background-size: cover;
}

.memo-left {
  background-image: url(/images/rooms-index-04.jpeg);
  background-size: cover;
}

.article-right {
  background-image: url(/images/article_real.jpg);
  background-size: cover;
}

.user-left {
  background-image: url(/images/user_real.jpg);
  background-size: cover;
}

.smoke {
  background-color: rgba(256, 256, 256, 0.4);
  width: 100%;
  height: 100%;
}

.content-text-wrapper {
  padding: 15px 15px 15px 50px;
}

.content-text-wrapper>h3 {
  padding-bottom: 50px;
}


.content-pict {
  width: 200px;
  height: 200px;
}

.articles-link {
  color: black;
  font-weight: bold;
}

.articles-link:hover {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}


.why-illust {
  display: flex;
  justify-content: space-between;
}

.why-content {
  margin: 30px auto;
}

.why-content>h1 {
  text-align: center;
}

.why-content>p {
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.why-pict {
  width: 200px;
  height: 200px;
}

.detail-content {
  display: flex;
  justify-content: center;
}

.detail-link {
  font-family: 'Roboto';
  color: white;
  background-color: #00b0f0;
  padding: 10px 20px;
  border-radius: 4px;
}

.detail-link:hover {
  font-family: 'Roboto';
  color: white;
  background-color: #81d7f7;
  padding: 10px 20px;
  border-radius: 4px;
  transition: all 0.5s;
}

.start-content {
  display: flex;
  justify-content: center;
}

.signin-link {
  padding:10px 20px;
  margin: 0 10px;
  background-color: white;
  color: #00b0f0;
  border: solid 1px #00b0f0;
  border-radius: 4px;
}

.signup-link {
  padding:10px 20px;
  margin: 0 10px;
  background-color: #00b0f0;
  color: white;
  border-radius: 4px;
}

.signin-link:hover {
  padding:10px 20px;
  margin: 0 10px;
  background-color: white;
  color: #81d7f7;
  border: solid 1px #81d7f7;
  border-radius: 4px;
  transition: all 0.5s;
}

.signup-link:hover {
  padding:10px 20px;
  margin: 0 10px;
  background-color: #81d7f7;
  color: white;
  border-radius: 4px;
  transition: all 0.5s;
}

.home-wrapper {
  padding-top: 100px;
  width: 70vw;
  margin: 0 auto;
}

.menu-header>h2 {
  font-size: 30px;
  text-align: center;
}

.top-lists-login {
  display: flex;
  justify-content: space-between;
}


.top-lists-login>.top-list>.list-pict {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  text-align: center;
}

.top-lists-login>.top-list>h3 {
  text-align: center;
  color: black;
}

@media screen and (max-width: 1000px) {
  .title {
    padding-top: 50px;
    height: 80vh;
    width: 70vw;
    min-width: none;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .top-title {
    font-size: 80px;
  }

  .top-exp {
    font-size: 25px;
  }
  
  .top-lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .top-lists>.top-list {
    width: 100%;
    text-align: center;
  }

  .content-exp>p {
    font-size: 30px;
  }

  .content-header>.content-title, .why-header>.why-title, .detail-header>.detail-title, .start-header>.start-title {
    font-size: 70px;
  }

  .content-content {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .content-text-wrapper {
    margin-bottom: 60px;
    padding: 15px;
  }

  .content-text-wrapper>h3 {
    font-size: 50px;
    padding-bottom: 30px;
    text-align: center;
  }

  .content-text-wrapper>p {
    text-align: center;
    font-size: 30px;
  }

  .content-text-wrapper>a {
    display: flex;
    justify-content: center;
    font-size: 30px;
  }

  .report-left, .report-right-sp, .memo-left, .memo-right, .article-left, .article-right-sp, .user-left, .user-right {
    width: 100%;
  }
  

  .report-right, .article-right {
    display: none;
  }

  .report-right-sp {
    background-image: url(/images/report_human.jpg);
    margin: 0 auto;
    height: 300px;
    max-width: 450px;
    background-size: cover;
  }

  .article-right-sp {
    background-image: url(/images/article_real.jpg);
    margin: 0 auto;
    height: 300px;
    max-width: 450px;
    background-size: cover;  
  }

  .memo-left {
    background-image: url(/images/rooms-index-04.jpeg);
    margin: 0 auto;
    height: 300px;
    max-width: 450px;
    background-size: cover;  
  }

  .user-left {
    background-image: url(/images/user_real.jpg);
    margin: 0 auto;
    height: 300px;
    max-width: 450px;
    background-size: cover;
  }

  .content, .why, .detail, .start {
    width: 70vw;
    min-width: none;
    padding-bottom: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .why-exp>p {
    font-size: 30px;
  }
  
  .why-illust {
    display: flex;
    flex-direction: column;
  }

  .why-pict {
    width: 300px;
    height: 300px;
  }

  .why-content>p {
    font-size: 30px;
  }

  .why-content>h1 {
    font-size: 40px;
  }

  .detail-exp>p {
    font-size: 30px;
  }

  .detail-link {
    font-size: 40px;
  }

  .home-head-user {
    text-align: center;
    padding-bottom: 30px;
  }

  .top-lists-login {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 15px auto;
  }

  .top-lists-login>.top-list {
    text-align: center;
  }

  .signin-link, .signup-link {
    font-size: 40px;
  }

  .home-head-user {
    padding-top: 100px;
  }
  
  .home-head-user>p {
    font-size: 30px;
  }

  .menu-header>h2 {
    font-size: 60px;
  }

  .top-list-text {
    font-size: 45px;
  }
}