<%= render "shared/header" %>
<div class="room-create-contents">
  <div class="message">
    <div class="success">
      <h2 class="create-message">学習報告を削除しました</h2>
    </div>
  </div>
  <ul class='destroy'>
    <li class='destroy-list'>
      <%= link_to "学習報告ルームに戻る", "/rooms/#{@room.id}/reports", class:"regi_session" %>
    </li>
  </ul>
</div>

<%= render "shared/footer" %>