<%= render "shared/report_header"%>

<div class="report-wrapper">
  <div class="report-main">
    <%= render "shared/report_main" %>
  </div>
</div>
<div class="report-new">
  <%= link_to "報告を行う", new_room_report_path(@room), class: 'report-new-button' %>
</div>
