.users-wrapper {
  width: 60vw;
  margin: 15vh auto;
}

.users-header {
  padding-top: 5vh;
  padding-bottom: 1vh;
  border-bottom: solid 2px #BBBBBB;
}

.users-main {
  padding:2vh 0;
}

.user-name {
  padding:10px;
  font-size: 2.5vh;
  color:#333333;
  background-color: #EEEEEE;
  margin:2vh 0;
  border-radius: 5px;
}
.search-box {
  display: flex;
  justify-content: right;
}

.search-field {
  display: flex;
  flex-direction: column;
  width:30%;
  margin-right:2vw;
}

.search-field>.search-text {
  padding:5px;
  font-size: 2vh;
}

.user-search-input {
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
}

.user-search-btn {
  background-color: #333333;
  padding: 5px;
  border: none;
  border-radius: 2px;
  color: #EEEEEE;
  margin: 5px;
}
