.users-wrapper {
  width: 60%;
  margin: 80px auto;
}

.users-header {
  padding-bottom: 1vh;
  border-bottom: solid 2px #BBBBBB;
}

.users-main {
  padding:2vh 0;
}

.user-name {
  padding:10px;
  font-size: 2.5vh;
  color:#333333;
  background-color: #EEEEEE;
  margin:2vh 0;
  border-radius: 5px;
}

.user-search-form {
  display: flex;
}

.user-search-input {
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
  width: 300px;
}

.user-search-text {
  font-weight: bold;
}

.user-search-buttom {
  display: flex;
}

.user-search-btn {
  display: flex;
  background-color: #333333;
  padding: 5px;
  border: none;
  border-radius: 2px;
  color: #EEEEEE;
  margin: 5px;
}


@media screen and (max-width: 1000px) {
  .user-search-buttom {
    display: flex;
    flex-direction: column;
  }
}