.users-wrapper {
  width: 60%;
  padding-top: 80px;
  margin: 0 auto;
  min-height: 100vh;
}

.users-header {
  padding-bottom: 10px;
  border-bottom: solid 2px #BBBBBB;
}

.users-main {
  padding:2vh 0;
}

.user-content {
  padding:10px;
  font-size: 25px;
  overflow-wrap: break-word;
  color:#333333;
  background-color: #EEEEEE;
  margin:2vh 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.user-genre {
  font-size: 13px;
  vertical-align: bottom;
}

.user-search-form {
  display: flex;
  margin-top: 30px;
}

.user-search-input {
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
  width: 300px;
}

.user-search-text {
  font-weight: bold;
}

.user-search-buttom {
  display: flex;
}

.user-search-btn {
  display: flex;
  background-color: #333333;
  padding: 5px;
  border: none;
  border-radius: 2px;
  color: #EEEEEE;
  margin: 5px;
}


@media screen and (max-width: 1000px) {
  .user-search-buttom {
    display: flex;
    flex-direction: column;
  }

  .users-wrapper {
    width: 80%;
    padding-top: 120px;
    min-height: 100vh;
  }

  .users-header-title {
    font-size: 60px;
  }

  .user-search-field {
    display: flex;
    flex-direction: column;
  }

  .user-search-text {
    font-size: 30px;
  }

  .user-search-input {
    font-size: 40px;
    width: 100%;
  }

  .user-search-btn {
    font-size: 45px;
  }

  .user-content {
    font-size: 60px;
  }

  .user-genre {
    font-size: 30px;
  }
}