.user-library-wrapper {
  padding: 70px 30px 40px 30px;
  width: 70%;
  margin: 0 auto;
}


.posted-articles>h3 {
  text-align: center;
}


.liked-articles>h3 {
  text-align: center;
}

.no-content-message {
  margin: 40px 0 40px 0;
  text-align: center;
}