
.registration-main {
  width: 100%;
  min-width: 800px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.form-wrap {
  width: 100%;
  padding-bottom: 70px;
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.form-header {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 22px;
}

.form-header-text {
  font-weight: bold;
  color: black;
  position: relative;
}


.form-header-text::after {
  content: '';
  width: 70px;
  height: 2px;
  background-color: #00b0f0;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}


// 共通
.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px 0;
}

.form-group:first-child {
  padding: 0;
}

// 共通
.form-text-wrap {
  width: 100%;
  height: 20%;
  padding-bottom: 30px;
}

// 共通
.form-text {
  font-size: 14px;
  font-weight: bold;
  color: black;
  position: relative;
  margin-bottom: 20px;
}

.form-text::after {
  content: '';
  width: 20px;
  height: 1px;
  background-color: #00b0f0;
  position: absolute;
  bottom: -10px;
  left: 15px;
  transform: translateX(-50%);
}

// 共通
.indispensable {
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #ea352d;
  font-size: 12px;
  font-weight: bold;
}


.input-default {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.info-text {
  color: black;
  font-size: 15px;
  margin-top: 3px;
}

.form-info-header {
  font-weight: bold;
}

.input-birth-wrap {
  display: flex;
  flex-wrap: wrap;
}

.input-birth-wrap select {
  width: 75px;
  margin-top: 5px;
  height: 45px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 12px;
  cursor: pointer;
}

.input-birth-wrap p {
  line-height: 60px;
  padding: 0 5px;
}

.input-introduction {
  width: 100%;
  margin-top: 5px;
  height: 130px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.field_with_errors {
  display: contents;
}


.form-bottom-text {
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

.form-bottom-text:last-child {
  margin: 0;
  padding-bottom: 50px;
  color: black;
}

.register-btn {
  width: 50%;
  margin: 0 auto;
}

.register-link {
  width: 100%;  
  background-color: #00b0f0;
  border-radius: 4px;
  border: none;
  color: #FFF;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
}

.register-link:hover {
  width: 100%;
  background-color: #81d7f7;
  border-radius: 4px;
  color: #fff;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s;
}

@media screen and (max-width: 1000px) {
  .registration-main {
    min-width: 200px;
  }

  .form-header-text {
    font-size: 80px;
  }

  .indispensable {
    font-size: 30px;
  }

  .form-text {
    font-size: 30px;
  }

  .form-group {
    width: 80%;
  }

  .input-default {
    font-size: 40px;
    height: 70px;
  }

  .select-birth {
    font-size: 40px;
    height: 70px;
  }

  .input-introduction {
    font-size: 40px;
    height: 250px;
  }

  .register-link {
    font-size: 40px;
  }
  
  .register-link:hover {
    font-size: 40px;
  }
  .error-message {
    font-size: 30px;
  }

  .login-flash-message {
    padding-top: 50px;
  }
}