.user-show {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-box {
  min-width: 1200px;
  padding: 15vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detail-user {
  width: 20%;
  background-color: #BBBBBB;
  border: 1px solid #AAAAAA;
  font-size: 14px;
  text-align: center;
}


.user-rooms {
  margin-right: 2vh;
  color: black;
  text-decoration: underline;
}

.user-messages {
  padding-top: 5vh;
}

.user-chats-btn {
  padding: 2vh;
  border-radius: 2px;
  background-color: #333333;
  color:#eee;
  border: none;
}

.user-lists-title {
  margin: 0 auto;
}

.user-lists-title h2 {
  text-align: center;
}

.user-lists {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.user-list {
  text-align: center;
}

.user-list-name {
  color: black;
  text-decoration: underline;
}