.user-show {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-box {
  min-width: 1200px;
  padding: 15vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nickname {
  font-size: 30px;
  margin-bottom: 50px;
  position: relative;
}

.nickname::after {
  content: '';
  width: 40px;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.user-show-title {
  position: relative;
  margin:80px 0 50px 0;
}

.user-show-title::after {
  content: '';
  width: 20px;
  height: 2px;
  background-color: #00b0f0;
  position: absolute;
  bottom: -10px;
  left: 20px;
  transform: translateX(-50%);
}

.detail-user {
  width: 20%;
  background-color: #BBBBBB;
  border: 1px solid #AAAAAA;
  font-size: 14px;
  text-align: center;
}


.user-rooms {
  margin-right: 2vh;
  color: black;
  text-decoration: underline;
}

.user-messages {
  padding-top: 50px;
}

.user-chats-btn {
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #333333;
  color:#eee;
  border: none;
}

.user-lists-title {
  margin: 0 auto;
}

.user-lists-title h2 {
  text-align: center;
}

.user-lists {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.user-list {
  text-align: center;
}

.user-list-name {
  color: black;
  text-decoration: underline;
}

.link-library {
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .nickname {
    font-size: 60px;
  }

  .detail-user {
    font-size: 25px;
    padding: 5px;
  }

  .user-show-title {
    font-size: 30px;
  }

  .fa-pen-fancy {
    font-size: 45px;
  }

  .link-library {
    font-size: 45px;
  }

  .user-list-name {
    font-size: 45px;
  }

  .user-chats-btn {
    font-size: 45px;
  }
}