.user-show {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-box {
  min-width: 1200px;
  padding: 15vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nickname {
  font-size: 30px;
  margin-bottom: 50px;
  position: relative;
}

.nickname::after {
  content: '';
  width: 40px;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.user-show-title {
  position: relative;
  margin:80px 0 50px 0;
}

.user-show-title::after {
  content: '';
  width: 20px;
  height: 2px;
  background-color: #00b0f0;
  position: absolute;
  bottom: -10px;
  left: 20px;
  transform: translateX(-50%);
}

.detail-user {
  width: 20%;
  background-color: #BBBBBB;
  border: 1px solid #AAAAAA;
  font-size: 14px;
  text-align: center;
}


.user-rooms {
  margin-right: 2vh;
  color: black;
  text-decoration: underline;
}

.user-messages {
  padding-top: 5vh;
}

.user-chats-btn {
  padding: 2vh;
  border-radius: 2px;
  background-color: #333333;
  color:#eee;
  border: none;
}

.user-lists-title {
  margin: 0 auto;
}

.user-lists-title h2 {
  text-align: center;
}

.user-lists {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.user-list {
  text-align: center;
}

.user-list-name {
  color: black;
  text-decoration: underline;
}

.link-library {
  color: black;
  font-weight: bold;
}

.regi-session {
  display: flex;
  justify-content: center;
}

.regi-btn {
  background-color: blue;
  color: #eee;
  padding: 2vh 5vh;
  border-radius: 2px;
}

.session-btn {
  background-color: #333333;
  color: #eee;
  padding: 2vh 5vh;
  border-radius: 2px;
}

.regi-btn:hover {
  background-color: rgb(67, 67, 231);
  color: #eee;
  padding: 2vh 5vh;
  border-radius: 2px;
}

.session-btn:hover {
  background-color: #7c7a7a;
  color: #eee;
  padding: 2vh 5vh;
  border-radius: 2px;
}
