<%= render "shared/memo_header" %>
<div class="room-create-contents">
  <div class="message">
    <div class="success">
      <h2 class="create-message">メモを削除しました</h2>
    </div>
  </div>
  <ul class='feature-lists'>
    <li class='list'>
      <%= link_to "ルームに戻る", subject_memos_path(@subject), class:"link-top" %>
    </li>
  </ul>
</div>

<%= render "shared/footer" %>