<%= render "shared/memo_header" %>
<div class="memo-wrapper">
  <div class="memo-side">
    <%= render "shared/memo_side_bar" %>
  </div>

  <div class="memo-main">
    <%= render "shared/memo_main" %>
  </div>
</div>

